<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/prism-vsc-dark-plus.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <script src="{{ '/assets/prism.js' | relative_url }}"></script>
    <script src="{{ '/assets/tablelink.js' | relative_url }}"></script>

    <div class="wrapper">
      <header>
        <div class="header-container">
          <a href="{{ '/' | relative_url }}">
            <img
              class="header-logo"
              src="{{ '/assets/images/redhat-ansible-logo.svg' | relative_url }}"
              title="Red Hat Ansible"
              alt="Red Hat Ansible"
            />
          </a>
          <div class="header-nav">
            <a class="header-link" href="{{ '/' | relative_url }}">
              Home
            </a>
            <a class="header-link" href="{{ '/README-AIOps' | relative_url }}">
              AIOps
            </a>
            <a class="header-link" href="{{ '/README-IA' | relative_url }}">
              AI Infrastructure
            </a>
            <a class="header-link" href="{{ '/README-best-practices' | relative_url }}">
              Best Practices
            </a>
            <a class="header-link" target="_new" href="https://github.com/sean-m-sullivan/aiops-hub/issues/new">
              Open an Issue
            </a>
          </div>
        </div>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <div class="footer-container">
          <a href="https://redhat.com">
            <img
              class="footer-logo"
              src="{{ '/assets/images/redhat-logo.svg' | relative_url}}"
              title="Red Hat"
              alt="Red Hat"
            />
          </a>
          <p class="footer-copyright">Copyright &copy; 2026 Red Hat, Inc.</p>
          <div class="footer-linkContainer">
            <a href="https://www.redhat.com/en/about/privacy-policy" class="footer-link">Privacy statement</a>
            <span class="footer-linkSpacer">|</span>
            <a href="https://www.ansible.com/security?hsLang=en-us" class="footer-link">Security disclosure</a>
            <span class="footer-linkSpacer">|</span>
            <a href="https://www.redhat.com/en/about/all-policies-guidelines" class="footer-link">All policies and guidelines</a>
          </div>
        </div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    <!-- Konami Code Easter Egg -->
    <img id="nuno-easter-egg" src="{{ '/assets/images/nuno-way-out.png' | relative_url }}" alt="Nuno Way Out" style="
      position: fixed;
      width: 300px;
      height: auto;
      z-index: 99999;
      pointer-events: none;
      display: none;
    "/>
    <script>
      (function() {
        var konamiCode = [38,38,40,40,37,39,37,39,66,65];
        var konamiIndex = 0;

        document.addEventListener('keydown', function(e) {
          if (e.keyCode === konamiCode[konamiIndex]) {
            konamiIndex++;
            if (konamiIndex === konamiCode.length) {
              konamiIndex = 0;
              launchNuno();
            }
          } else {
            konamiIndex = 0;
          }
        });

        function launchNuno() {
          var img = document.getElementById('nuno-easter-egg');
          var viewH = window.innerHeight;
          var startY = Math.random() * (viewH - 350);

          img.style.display = 'block';
          img.style.left = '-320px';
          img.style.top = startY + 'px';
          img.style.transform = 'rotate(0deg)';
          img.style.transition = 'none';

          var bounceCount = 0;
          var maxBounces = 3;
          var posX = -320;
          var posY = startY;
          var velX = 6 + Math.random() * 2;
          var velY = -(6 + Math.random() * 3);
          var gravity = 0.4;
          var rotation = 0;
          var spin = 6 + Math.random() * 6;
          var screenW = window.innerWidth;

          function animate() {
            posX += velX;
            velY += gravity;
            posY += velY;
            rotation += spin;

            // Bounce off the bottom
            if (posY > viewH - 300) {
              posY = viewH - 300;
              velY = -(Math.abs(velY) * 0.7);
              bounceCount++;
              spin *= 0.8;
            }

            img.style.left = posX + 'px';
            img.style.top = posY + 'px';
            img.style.transform = 'rotate(' + rotation + 'deg)';

            if (posX < screenW + 400) {
              requestAnimationFrame(animate);
            } else {
              img.style.display = 'none';
            }
          }

          requestAnimationFrame(animate);
        }
      })();
    </script>
  </body>
</html>
